body {
  background-color: rgb(2, 15, 43);
  color: white;
}

.side-bar {
  width: 60px;
  background-color: rgb(6, 31, 85);
  left: 10px;
  top: 10px;
  bottom: 10px;
  position: fixed;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 5px;
}

.icon {
  width: 40px;
  display: inline;
}
ul {
  list-style: none;
  padding-left: 8%;
  display: auto;
  *{
    margin-bottom: 10px;
  }
}