body {
  background-color: rgb(2, 15, 43);
  color: white;
  transition: 2s;
}

.side-bar {
  width: 60px;
  background-color: rgb(6, 31, 85);
  top: 10px;
  bottom: 10px;
  position: fixed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.material-symbols-outlined:hover {
  font-size: 40px;
  transition: 500ms;
}
.material-symbols-outlined:not(:hover) {
  font-size: 30px;

  transition: 500ms;
}
.main-sidebar {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin-bottom: 10px;
    display: block;
    color: rgb(20, 147, 231);
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.more {
  position: fixed;
  bottom: 10px;
}
#morebtn:hover {
  font-size: 30px;
  color: rgba(190, 194, 201, 0.582);
  border-radius: 8px;
}
.game-cat {
  height: 95%;
  width: 25px;
  display: flex;
  align-items: center;
}
.game-cat-child {
  width: 25px;
}
.main {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 90%;
 height: 100%;
 margin-top: 10px;
 right: 10px;
 margin-left: 100px;
}
.search {
  margin-left: 0px;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  width: 700px;
  border-radius: 8px;
  padding-left: 17px;
outline:none;
  border: 2px rgb(32, 81, 145) solid;
  height: 50px;
  display: flex;
  margin: auto;
  margin-top: 480px;

  background: #00000000;
  color: rgb(161, 122, 122);
  font-size: 16px;
}
.game-parent {
  width: 700px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 110px;
   grid-template-columns: auto auto auto;
  grid-auto-rows: minmax(200px, auto);
  justify-self: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 50px;
    margin-top: 200px;
}

.game-div {
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  width: fit-content;
  background-color: rgba(42, 116, 185, 0.356);
  text-align: center;
  padding-bottom: 38px;
   transition: 1s;

}

.game-div:hover{
  height: 230px;
 transform: scale(1.1);

}
.game-image {
  height: 150px;
  width: 300px;
  border-radius: 8px;
}
.game-image:hover{

}

.check-out-btn {
  background-color: rgb(20, 147, 231);
  color: rgb(0, 0, 0);
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  margin-top: 13px;
  transition: 0.5s;
}
.check-out-btn:hover{
  background-color: rgba(20, 147, 231, 0.726);
}
.game-name{
  margin-top: 10px;
  font-weight:20px ;
}
@media (max-width: 780px) {
  body{
    width: 260px;
margin-top: 1200px;
  }
  .search {
    width: 290px;
    margin-left: 0px;
 margin-top: 100px;
 margin-bottom: 0%;
  }
  .game-parent {
    width: 20px;
     grid-template-columns: auto;

  }

}