html{
    scroll-behavior: smooth;
}
body {
  background-color: rgb(2, 15, 43);
  color: white;
  transition: 2s;

}

.side-bar {
  width: 60px;
  background-color: rgb(6, 31, 85);
  top: 10px;
  bottom: 10px;
  position: fixed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
}
.material-symbols-outlined:hover {
  font-size: 40px;
  transition: 500ms;
}
.material-symbols-outlined:not(:hover) {
  font-size: 30px;

  transition: 500ms;
}
.main-sidebar {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin-bottom: 10px;
    display: block;
    color: rgb(20, 147, 231);
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.more {
  position: fixed;
  bottom: 10px;
}
.more-popup {
  width: 10px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-left: 0px;
  bottom: -410px;
  position: relative;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0);
  transition: 500ms;
  * {
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
  }
}
.more-popup:hover {
  width: fit-content;
  height: fit-content;
  display: block;
  padding: 10px;
  background-color: rgb(40, 45, 73);
  * {
    color: rgba(255, 255, 255, 0.658);
  }
}

#morebtn:hover {
  font-size: 30px;
  color: rgba(190, 194, 201, 0.582);
  border-radius: 8px;
}
.game-cat {
  height: 95%;
  width: 25px;
  display: flex;
  align-items: center;
}
.game-cat-child {
  width: 25px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin-top: 10px;
  right: 10px;
  margin-left: 100px;
}
.search {
  margin-left: 0px;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  width: 700px;
  border-radius: 8px;
  padding-left: 17px;
  outline: none;
  border: 2px rgb(32, 81, 145) solid;
  height: 50px;
  display: flex;
  margin: auto;
  margin-top: 1400px;
  transition: 500ms;
  background: #00000000;
  color: rgb(161, 122, 122);
  font-size: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
}
.search:hover {
  transform: scale(1.1);
}

.game-parent {
  width: 700px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 110px;
  grid-template-columns: auto auto auto;
  grid-auto-rows: minmax(200px, auto);
  justify-self: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  margin-top: 200px;
}

.game-div {
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  width: fit-content;
  background-color: rgba(42, 116, 185, 0.356);
  text-align: center;
  padding-bottom: 38px;
  transition: 1s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
  font-weight: bold;
}

.game-div:hover {
  transform: scale(1.1);
}
.game-image {
  height: 150px;
  width: 300px;
  border-radius: 8px;
}

.check-out-btn {
  background-color: rgb(20, 147, 231);
  color: rgb(0, 0, 0);
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  margin-top: 13px;
  transition: 0.5s;
  font-weight: bold;
}
.check-out-btn:hover {
  background-color: rgba(20, 147, 231, 0.726);
  transform: scale(1);
}
.game-name {
  margin-top: 10px;
  font-weight: 20px;
}
.ads {
  background-color: white;
  width: 750px;
  height: 65px;
  display: flex;
  position: fixed;
  bottom: 1.5%;
  z-index: 10000;
  color: black;
  border-radius: 20px;
  animation: ads alternate ease-in-out 2s infinite;
  justify-content: center;
}
@keyframes ads {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.ads-txt {
  position: absolute;
  display: flex;
  max-height: 20px;
  font-size: 14;
  left: 200px;
  width: 400px;
}
.ads-btn {
  background-color: rgb(46, 150, 42);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  position: absolute;
  text-align: center;
  top: 12px;
  left: 630px;
  transition: 1s;
}
.ads-btn:hover {
  color: black;
  background-color: rgb(26, 144, 199);
}
@media (max-width: 800px) {
  body {
    width: 260px;
    margin-top: 1400px;
  }
  .search {
    width: 75vw;
    margin: auto;
    margin-left: 80px;
    margin-right: 1px;
    margin-top: 1500px;
    margin-bottom: 0%;
  }
  .game-div {
    left: -10px;
    margin-left: 80;
  }
  .game-parent {
    width: 2px;
    grid-template-columns: auto;
    left: 0px;
    margin-left: 0px;
    margin-right: 1px;
  }
  .ads {
    width: 300px;
  }
}
/* teams page styles */
.home-team {
  position: fixed;
  font-size: 30px;
  color: rgb(73, 36, 236);
  cursor: pointer;
  transition: 500ms;
  top: 1%;
}
.home-team:hover {
  color: rgb(76, 20, 231);
}
.profile-pic {
  border-radius: 1000px;
  width: 300px;
}
.team-parent {
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 200px;
  gap: 10vw;
  text-align: center;
  color: rgb(180, 173, 173);
}
.title {
  color: rgba(180, 173, 173, 0.438);
}
.sociols {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.sociols-img {
  width: 30px;
}
